<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>GST Practice | Accounts & TaxAlliance</title>

    <meta name="author" content="psybotechnologies.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Favicon and touch icons  -->
    <link href="images/icon/favicon.png" rel="shortcut icon">

</head>  

<body class="header-sticky">

    <div class="boxed">
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>
    
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="flat-information">
                                <li class="phone">
                                    <a href="#" title="Phone number"><i>Call us: (+91) 9446 5000 44</i></a>
                                </li>
                                <li class="email">
                                    <a href="#" title="Email address"><i>Email: info@accountsandtax.in</i></a>
                                </li>
                            </ul>
                            <div class="style-box text-right">
                                <ul class="flat-socials v1">
                                    <li class="facebook">
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="wifi">
                                        <a href="#"><i class="fa fa-wifi"></i></a>
                                    </li>
                                </ul>
                                <div class="question">
                                    <div>
                                        <i class="fa fa-question-circle-o"></i><p class="text">Have any questions</p>
                                    </div>
                                </div>
                                <div class="box-text text-right">
                                    <p>Get An Appointment</p>
                                </div>   
                            </div>
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- Top -->    
        </div><!-- header-inner-pages -->

        <!-- Wrap-slide -->
        <div class="wrap-slider">
            <!-- Header -->            
            <header id="header" class="header style-color clearfix">
                <div class="container">
                    <div class="header-wrap clearfix">
                        <div id="logo" class="logo">
                            <a href="index.html" rel="home">
                                <img src="images/logo.png" alt="image">
                            </a>
                        </div><!-- /.logo -->

                        <div class="nav-wrap">
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->

                            <nav id="mainnav" class="mainnav">
                                <ul class="menu"> 
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li> 
                                    <li><a href="services.html">Our Services</a></li>
                                    <li class="home"><a href="gst.html">GST</a>
                                        <ul class="submenu">
                                            <li><a href="whatisgst.html">What is GST</a></li>
                                            <li><a href="filing.html">GST Filing</a></li>
                                            <li><a href="gstAccounting.html">GST Accounting</a>
                                                <ul class="submenu">
                                                    <li><a href="gstAccounting.html#tally">In Tally ERP</a></li>
                                                    <li><a href="gstAccounting.html#mallu">In Malayalam</a></li>
                                                    <li><a href="gstAccounting.html#council">GST Council</a></li>
                                                </ul><!-- /.submenu -->
                                            </li>
                                            <li><a href="invoice.html">GST Invoice</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="#">Income Tax</a>
                                        <ul class="submenu">
                                            <li><a href="returns.html">IT Returns</a></li>
                                            <li><a href="tds.html">TDS</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="blog.html">News</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.nav-wrap -->
                    </div><!-- /.header-wrap --> 
                </div>
            </header><!-- /.header -->
        </div> <!-- /.wrap-slider -->

        <!-- GST START -->
        <section class="main-content blog bg-sidebar sidebar-left padding-bot0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section style1">
                            <h3 class="title">What is SGST, CGST & IGST ?</h3>
                            <p class="para">
                                Goods & Service Tax or GST will be levied on goods and services. It will replace all the various taxes and bring them under one umbrella to make compliance easier. It will replace the major central and state taxes. GST is a consumption based tax, i.e., the state shall collect tax in which goods were consumed. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="post-wrap blog-v2 clearfix">
                            <article class="entry clearfix">

                                <div class="content-post">
                                    <h4 class="title-post">
                                        <a href="#">GST = SGST + CGST + IGST</a>
                                    </h4>
                                    <div class="entry-post">
                                        <p>
                                            GST targets ONE NATION ONE TAX by keeping the interest of both central and state government to resource the fund. India is a federal country where both the Centre and the States have the powers to levy and collect taxes. The mechanism of <strong>GST</strong> and the practical side of the <strong>SGST, CGST and IGST</strong> are given below. 
                                        </p><br/>
                                        <p>Levy of the GST is on the basis of supply of goods and services. SGST/CGST/IGST is to be levied by considering the nature of transaction, ie, intra-state or inter-state.</p><br/>
                                        <p><strong>CGST & SGST shall be imposed on Intra-state transaction</strong> = Transaction within the state (Eg:- Supply of goods and services from Calicut to Ernakulam)</p><br/>
                                        <p><strong>IGST shall be imposed on Inter-state transaction</strong> = Transaction from one state to another state (Eg:- Supply of goods and services from Kerala to Tamil Nadu)</p><br/>
                                    </div>
                                </div>
                            </article><!-- /entry -->
                        </div><!-- /post-wrap -->
                    </div><!-- /col-md-9 -->

                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="widget widget-categories">
                                <div class="title-link">
                                    <h5 class="widget-title">GST More</h5>
                                </div>
                                <div class="widget widget-categories team">
                                    <ul class="categories">
                                        <li><a href="gst.html">GST</a></li>
                                        <li><a href="whatisgst.html">What is GST</a></li>
                                        <li><a href="filing.html">GST Filing</a></li>
                                        <li><a href="gstAccounting.html">GST Accounting</a></li>
                                        <li><a href="invoice.html">GST Invoice</a></li>
                                    </ul>
                                </div><!-- /widget-archives -->
                            </div><!-- /widget-archives -->
                            <div class="widget widget-categories">
                                <div class="title-link">
                                    <h5 class="widget-title">IT More</h5>
                                </div>
                                <div class="widget widget-categories team">
                                    <ul class="categories">
                                        <li><a href="returns.html">IT Returns</a></li>
                                        <li><a href="tds.html">TDS</a></li>
                                    </ul>
                                </div><!-- /widget-archives -->
                            </div><!-- /widget-archives -->
                        </div><!-- /sidebar -->
                    </div><!-- /col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>
        <!-- GST END -->

        <section class="main-content bg-sidebar sidebar-left padding-top0">
            <div class="container">
                <div class="case-single v1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="post-case-single v1">
                                <div class="content-post v3">
                                    <div class="title-post">
                                        <h4 class="title">1. CGST & SGST</h4>
                                        <p>
                                            The central government has the power to levy and collect GST on the supply of goods & services within the same state, known as CGST. At the same time the State governments also have the power to levy and collect GST on the supply of goods & services within the same state, known as SGST. In short, on intra-state transactions, GST rate shall be shared by centre and state equally.<br/><br/>
                                            <strong>(5%=2.5+2.5<>12%=6+6<>18%=9+9<>28%=14+14)</strong><br/><br/>
                                            For e.g.: – A dealer in Calicut sold goods to the consumer in Ernakulam worth Rs. 1,00,000. The GST rate of the item is 5%.<br/>
                                            This is a transaction within the same state (Kerala) and termed as intra-state supply. In which the 2.5% tax amount will go to Central Government as CGST and other 2.5% will goes to Kerala Government as SGST.<br/>
                                            So ;<br/>
                                            1,00,000 x 2.5% = Rs.2,500 to Central Government
                                            1,00,000 x 2.5% = Rs.2,500 to Kerala Government<br/>
                                            Total Rs.5,000 (GST @ 5%) levied and collected by Centre and State.
                                        </p>
                                    </div>
                                    <!-- <div class="list-post">
                                        <h4 class="title">Central GST (CGST) which will be levied by Centre</h4>
                                    </div> -->
                                </div>

                                <div class="content-post v3">
                                    <div class="title-post">
                                        <h4 class="title">2. IGST </h4>
                                        <p>
                                            The central government only has the power to levy and collect GST on the supply of goods & services from one state to another state, known as IGST. State government has no roll in IGST.<br/><br/>
                                            For e.g.: – A dealer in Kerala sold goods to the consumer in Tamil Nadu worth Rs. 1,00,000. The GST rate of the item is 5%.
                                            <br/>
                                            This is a transaction between two states Kerala and Tamil Nadu, termed as inter-state supply. In which the full 5% tax amount will go to Central Government as IGST.<br/><br/>
                                            So ;<br/>
                                            1,00,000 x 5% = Rs.5000 to Central Government. (GST @ 5%) levied and collected by Centre.<br/>
                                        </p>
                                    </div>
                                    <!-- <div class="list-post">
                                        <h4 class="title">Central GST (CGST) which will be levied by Centre</h4>
                                    </div> -->
                                </div>

                                <div class="content-post v1">
                                    <div class="title-post">
                                        <h4 class="title">3. INPUT TAX CREDIT</h4>
                                        <p>For e.g.: – <br />See the 4 level of transaction of an Item. The GST rate of the item is 5%.</p>
                                    </div>
                                    <div class="list-post">
                                        <div class="list-post">
                                            <h4 class="title">Mohammed Calicut sold goods to Babu Ernakulam worth Rs. 1,00,000. </h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">Babu Ernakulam sold goods to Moorthy Tamil Nadu for Rs.1,30,000</h4>
                                        </div> 
                                        <div class="list-post">
                                            <h4 class="title">Moorthy Tamil Nadu sold the goods to Final Consumer in Tamil Nadu for Rs.1,50,000</h4>
                                        </div> 
                                    </div>
                                    <div class="list-post v1">
                                        <h4 class="title">a) Mohammed Calicut sold goods to Babu Ernakulam worth Rs. 1,00,000.</h4>
                                        <p>
                                            Mr.Babu paid input tax Rs.2500 (2.5%) to Centre as CGST and Rs.2500 (2.5%) to Kerala Govt.<br/>
                                            In second transaction Mr.Babu has a tax liability of Rs.6500 as IGST (5% of Rs.130000) for the sales to Moorthy Tamil Nadu. But he has to pay tax (IGST) after set off the credit of CGST Rs.2500 + SGST Rs.2500 (Rs.5000). <br/>
                                            <strong>The net tax (IGST) he should pay will be Rs.1500 (6500-5000)</strong><br/>
                                            In third transaction Mr.Moorthy has a levy of Rs.7000 (Rs.3750 (2.5%) to Centre as CGST + Rs.3750 (2.5%) to Tamil Nadu Govt.)<br/>
                                            But he has to pay tax after set off the credit of IGST Rs.6500. When the input in our credit is IGST we should first set off IGST, then CGST and SGST.<br/>
                                            CGST payable Rs.3750 – Rs.6500 (IGST Credit) = Rs.2750 (balance in IGST credit)<br/>
                                            SGST payable Rs.3750 – Rs.2750 (IGST Credit balance) = Rs.1000 SGST payable<br/>
                                            <strong>The net tax (SGST) he should pay will be Rs.1000(CGST+SGST Rs.7500-(IGST Rs.6500))</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div><!-- /.container -->   
        </section>

        <!-- GST ACCOUNTING IN TALLY ERP 9 6 START -->
        <section id="tally" class="main-content blog bg-sidebar sidebar-left padding-bot0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section style1">
                            <h3 class="title cgreen">GST ACCOUNTING IN TALLY ERP 9 6</h3>
                            <p class="para">
                                <strong>
                                    This is about how to get ready with Tally ERP9 6 (latest GST version) for GST accounting
                                    <br />
                                    The changes came only in Sales, Purchase, Input GST and Output GST ledgers. Read this article and contact for more understanding
                                </strong>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mygrid">
                                <h4 class="myhead">SALES AND PURCHASE LEDGERS</h4>
                                <p>SALES GST @ 5%<br />PURCHASE GST @ 5%</p>
                            </div>
                            <div class="col-md-3 mygrid">
                                <h4 class="myhead">INPUT GST AND OUTPUT GST LEDGERS</h4>
                                <p>As the GST in India is Dual GST system, we should create 3 input and output ledgers for each rate of GST, ie,</p>
                            </div>
                            <div class="col-md-3 mygrid">
                                <h4 class="myhead">GST LEDGERS FOR INWARD SUPPLY (PURCHASE)</h4>
                                <p>INPUT SGST @ 2.5%<br />INPUT CGST @ 2.5%<br />INPUT IGST @ 5%</p>
                            </div>
                            <div class="col-md-3 mygrid">
                                <h4 class="myhead">GST LEDGERS FOR OUTWARD SUPPLY (SALES)</h4>
                                <p>OUTPUT SGST @ 2.5%<br />OUTPUT CGST @ 2.5%<br />OUTPUT IGST @ 5%</p>
                            </div>
                        </div>
                        <h4 class="myhead2">STEPS TO CREATE ‘SALES LEDGER’</h4>
                        <p>For example create a SALES ledger for an item of 5% in GST</p>
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="myhead3">1. Create sales ledger at the rate of 5% under the group of ‘Sales Accounts’</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally1.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">2. Select ‘Applicable’ under Statutory Information</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally2.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">3. Click ‘Yes’ against ‘Set/alter GST details</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally3.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">4. On the Click ‘Yes’ against ‘Set/alter GST details, it will open with a small window – Tax Rate Details</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally4.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">5. Type HSN/SAC Details :- Give description of goods and HSN/SAC codes</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally5.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">6. Select Nature of Transaction as ‘Sales Taxable’ from the given list</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally6.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">7. Give GST rate of item against Integrated Tax</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally7.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">8. When you save the above window, next is to select ‘Goods/Services’</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally8.png" alt="image">
                                </div>
                            </div>
                        </div>
                        <h4 class="myhead2">STEPS TO CREATE ‘INPUT/OUTPUT GST LEGDERS’</h4>
                        <p>
                            Under GST Input/Output ledgers are to create with more attention due to dual GST system. One has to create SGST,CGST and IGST ledgers for both Input and Output. 
                        </p>
                        <div class="row">
                            <div class="col-md-3 mygrid2">
                                <h4 class="myhead">The three ledgers for 5% item are;</h4>
                                <p>INPUT SGST @ 2.5%<br />INPUT CGST @ 2.5%<br />INPUT IGST @ 5%</p>
                            </div>
                            <div class="col-md-3 mygrid2">
                                <h4 class="myhead">The three ledgers for 5% item are;</h4>
                                <p>OUTPUT SGST @ 2.5%<br />OUTPUT CGST @ 2.5%<br />OUTPUT IGST @ 5%</p>
                            </div>
                        </div>
                        <p>For Eg; See how to create these ledgers from the steps of Input ledger of an item with GST rate 5%.</p>
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="myhead3">1. Create ‘Input GST @ 2.5%’ under the group of ‘Duties and Taxes’</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally9.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">2. Select ‘GST’ from the given list</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally10.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">3. Select ‘State Tax’ from the list. Which mean the State Govt. is the authority to levy and collect SGST</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally11.png" alt="image">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h4 class="myhead3">4. Give the rate of 2.5% (The rate is 5%, but the half of the rate goes to State as SGST and half rate goes to Central as CGST)</h4>
                                <div class="thumb">
                                    <img src="images/bg/tally12.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>
        <!-- GST ACCOUNTING IN TALLY ERP 9 6 END -->


        <!-- GST START -->
        <section id="mallu" class="main-content blog bg-sidebar sidebar-left padding-bot0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section style1">
                            <h3 class="title">GST എന്ത്..? എങ്ങിനെ..?</h3>
                            <p class="para2">
                                ചരക്കുകളുടെയും സേവനങ്ങളുടെയും മുകളിൽ ചുമത്തപ്പെടുന്ന നികുതിയാണ് GST. ചരക്കുകൾ വിൽക്കുന്നതിനെ GST യിൽ സപ്ലൈ (Supply) എന്നാണ് പറയുന്നത്. നിലവിലെ തീരുമാനം പ്രകാരം 01,July, 2017ന് കേന്ദ്ര-സംസ്ഥാന സർക്കാരുകളുടെ വിവിധയിനം പ്രധാന നികുതികൾ (VAT, CST, Central Excise, Service Tax, etc..,) ഇല്ലാതാവുകയും GST എന്ന പേരിൽ ഒരൊറ്റ നികുതി നിലവിൽ വരികയും ചെയ്യുന്നു.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="post-wrap blog-v2 clearfix">
                            <article class="entry clearfix">

                                <div class="content-post">
                                    <h4 class="title-post">
                                        <a href="#">GST = SGST + CGST + IGST</a>
                                    </h4>
                                    <div class="entry-post">
                                        <p class="para3">
                                            <strong>GST </strong>യിലൂടെ 'ഒരു രാജ്യം ഒരു നികുതി' എന്ന വലിയ ലക്ഷ്യത്തിലേക്ക് അടുക്കുംബോൾ കേന്ദ്ര-സംസ്ഥാന സർക്കാരുകളുടെ വരുമാന സ്രോതസുകളും സംരക്ഷിക്കപെടേണ്ടതുണ്ട്. 
                                        </p><br/>
                                        <p class="para3">മുൻപ് പറഞ്ഞ പോലെ ചരക്കുകളുടെയും സേവനങ്ങളുടെയും മുകളിൽ ചുമത്തപ്പെടുന്ന നികുതിയാണല്ലോ <strong>GST</strong>. ആയതിനാൽ ബില്ല് ചെയ്യുംമ്പോൾ <strong>SGST & CGST/IGST</strong> ഇവയിൽ ഏത് നികുതി ചുമത്തണമെന്നറിയാൻ  ചരക്കു സേവനങ്ങളുടെ ഇടപാട് നടക്കുന്നത് ഒരു സംസ്ഥാനത്തിനകത്താണോ ഒരു സംസ്ഥാനത്തു നിന്ന് മറ്റൊരു സംസ്ഥാനത്തിലേക്കാണോ എന്നത് പ്രത്യേകം ശ്രദ്ധിക്കേണ്ടതുണ്ട്. </p><br/>
                                        <p>
                                    </div>
                                </div>
                            </article><!-- /entry -->
                        </div><!-- /post-wrap -->
                    </div><!-- /col-md-9 -->

                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="widget widget-categories">
                                <div class="title-link">
                                    <h5 class="widget-title">GST More</h5>
                                </div>
                                <div class="widget widget-categories team">
                                    <ul class="categories">
                                        <li><a href="gst.html">GST</a></li>
                                        <li><a href="whatisgst.html">What is GST</a></li>
                                        <li><a href="filing.html">GST Filing</a></li>
                                        <li><a href="gstAccounting.html">GST Practice</a></li>
                                        <li><a href="invoice.html">GST Invoice</a></li>
                                    </ul>
                                </div><!-- /widget-archives -->
                            </div><!-- /widget-archives -->
                        </div><!-- /sidebar -->
                    </div><!-- /col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>
        <!-- GST END -->

        <section class="main-content bg-sidebar sidebar-left padding-top0">
            <div class="container">
                <div class="case-single v1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="post-case-single v1">
                                <div class="content-post v3">
                                    <div class="title-post">
                                        <h4 class="title">1. SGST & CGST</h4>
                                        <p class="para3">
                                            ചരക്കുനീക്കം സംസ്ഥാനത്തിനകത്താണെങ്കിൽ <strong>GST</strong>  റേറ്റിന്റെ പകുതി സംസ്ഥാന സർക്കാറിനും <strong>(SGST)</strong> പകുതി കേന്ദ്ര സർക്കാറിനും <strong>(CGST) </strong>അവകാശപ്പെട്ടതാണ്.<br/>SGST എന്നാൽ State Goodട and Service Tax.<br/>CGST എന്നാൽ Central Goodട and Service Tax.
                                        </p>
                                    </div>
                                    <!-- <div class="list-post">
                                        <h4 class="title">Central GST (CGST) which will be levied by Centre</h4>
                                    </div> -->
                                </div>

                                <div class="content-post v3">
                                    <div class="title-post">
                                        <h4 class="title">2. IGST </h4>
                                        <p class="para3">
                                            അതേ സമയം ചരക്കുനീക്കം ഒരു സംസ്ഥാനത്തിനു പുറത്തേക്കാണെങ്കിൽ <strong>GST</strong> റേറ്റിലുള്ള മുഴുവൻ നികുതിയും കേന്ദ്ര സർക്കാറിനുള്ളതായിരിക്കും <strong>(IGST)</strong>. <br/>
                                            IGST എന്നാൽ Integrated Goodട and Service Tax.
                                            <br/><br/>
                                            അതായത് <strong>SGST</strong> യും <strong>CGST</strong> യും  സംസ്ഥാനത്തിനകകത്തുള്ള ഇടപാടുകൾക്കും <strong>IGST</strong> സംസ്ഥാനങ്ങൾ തമ്മിലുള്ള ഇടപാടുകൾക്കും ചുമത്തുന്ന നികുതിയാണെന്ന് മനസ്സിലാക്കുക.
                                        </p>
                                    </div>
                                    <!-- <div class="list-post">
                                        <h4 class="title">Central GST (CGST) which will be levied by Centre</h4>
                                    </div> -->
                                </div>

                                <div class="content-post v1">
                                    <div class="title-post">
                                        <h4 class="title">DUAL GST SYSTEM</h4>
                                        <p class="para3">
                                            ഇന്ത്യ ഒരു ഫെഡറൽ സ്റ്റേറ്റ് സ്വഭാവമുള്ള രാജ്യമായതിനാലാണ് <strong>Dual GST</strong> നടപ്പിലാക്കേണ്ടി വന്നത്. <strong>SGST</strong> യുടെ കാര്യനിർവഹണം സംസ്ഥാന സർക്കാരുകൾക്കും <strong>CGST</strong> കേന്ദ്ര സർക്കാരിലും നിക്ഷിപ്തമാണ്
                                        </p>
                                    </div>
                                    <h4 class="myhead2">STEPS TO CREATE ‘SALES LEDGER’</h4>
                                    <div class="thumb">
                                        <img src="images/bg/tbl.png" alt="image">
                                    </div>
                                    <p class="para3 margin10">
                                        ഉദാഹരണത്തിന് ഒരു സാധനത്തിന്റെ വ്യത്യസ്ഥമായ 3 ചരക്കുനീക്കങ്ങൾ ശ്രദ്ധിക്കുക. സാധനത്തിന്റെ GST റേറ്റ് 28% എടുക്കാം.
                                    </p>

                                    <div class="list-post">
                                        <div class="list-post">
                                            <h4 class="title fs20">എറണാകുളത്തുള്ള ബാബു കോഴിക്കോട്ട് നിന്ന് <strong>100000</strong> രൂപയ്ക്ക് പർച്ചേഴ്സ് ചെയ്തു:-<br /><br />
                                             (സംസ്ഥാനത്തിനകത്തുള്ള ഇടപാട് ആയതിനാൽ <strong>GST 28%</strong> ന്റെ പകുതി കേരള ഗവൺമെന്റിനും പകുതി കേന്ദ്ര ഗവൺമെന്റിനും ആയിരിക്കും - അതായത് <strong>SGST 14 % + CGST 14%</strong>)
                                        </h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title fs20">ബാബു സാധനം <strong>150000</strong> രൂപയ്ക്ക് തമിഴ്നാട്ടിലുള്ള മൂർത്തിക്ക് വിറ്റു:-<br /><br />
                                            ( സംസ്ഥാനത്തിനു പുറത്തേക്കുള്ള ഇടപാട് ആയതിനാൽ <strong>GST 28%</strong>ന്റെ മുഴുവനും കേന്ദ്ര ഗവൺമെന്റിനായിരിക്കും - അതായത് ।<strong>GST 28%</strong>)
                                        </h4>
                                        </div> 
                                        <div class="list-post">
                                            <h4 class="title fs20">തമിഴ്നാട്ടിലുള്ള മൂർത്തി 200000 രൂപയ്ക്ക് തമിഴ്നാട്ടിലുള്ള മറ്റൊരാൾക്ക് സാധനം വിറ്റു:-<br /><br />
                                            സംസ്ഥാനത്തിനകത്തുള്ള ഇടപാട് ആയതിനാൽ <strong>GST 28%</strong> ന്റെ പകുതി തമിഴ്നാട് ഗവൺമെന്റിനും പകുതി കേന്ദ്ര ഗവൺമെന്റിനും ആയിരിക്കും - അതായത് <strong>SGST 14 % + CGST 14%</strong>)<br /><br />
                                            താഴെ തന്നിരിക്കുന്ന പട്ടികയിൽ നിന്നും ഒരോ <strong>TRANSACTIONS</strong> കളിലും <strong>INPUT TAX CREDIT</strong> എങ്ങിനെ ഉപയോഗിക്കുന്നു എന്ന് മനസ്സിലാക്കുക
                                            </h4>
                                        </div> 
                                        <div class="thumb">
                                            <img src="images/bg/tbl2.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div><!-- /.container -->   
        </section>

        <section id="council" class="main-content bg-sidebar sidebar-left padding-top0">
            <div class="container">
                <div class="case-single v1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="post-case-single v1">
                                <div class="content-post v3">
                                    <div class="title-post">
                                        <h4 class="title">GST COUNCIL</h4>
                                        <p class="para3">
                                            <strong>GST</strong> നിയന്ത്രിക്കുന്നത് <strong>GST</strong> കൗൺസിൽ ആണ്. അതിന്റെ ഘടന, അംഗങ്ങൾ, പ്രവർത്തനങ്ങൾ തുടങ്ങിയവ താഴെ തന്നിരിക്കുന്ന വിവരണത്തിൽ നിന്നും മനസ്സിലാക്കുക
                                        </p><br/><br/>
                                        <p>
                                            GST COUNCIL (Text from http://www.gstcouncil.gov.in); As per Article 279A (1) of the amended Constitution, the GST Council has to be constituted by the President within 60 days of the commencement of Article 279A. The notification for bringing into force Article 279A with effect from 12th September, 2016 was issued on 10th September, 2016.<br/><br/>
                                            As per Article 279A of the amended Constitution, the GST Council which will be a joint forum of the Centre and the States, shall consist of the following members: -
                                        </p>
                                    </div>
                                    <!-- <div class="list-post">
                                        <h4 class="title">Central GST (CGST) which will be levied by Centre</h4>
                                    </div> -->
                                </div>

                                <div class="content-post v1">
                                    <div class="list-post">
                                        <div class="list-post">
                                            <h4 class="title">Union Finance Minister - Chairperson</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">The Union Minister of State, in-charge of Revenue of finance - Member</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">The Minister In-charge of finance or taxation or any other Minister nominated by each State Government - Members</h4>
                                        </div><br/><br/>
                                        <p>
                                            As per Article 279A (4), the Council will make recommendations to the Union and the States on important issues related to GST, like the goods and services that may be subjected or exempted from GST, model GST Laws, principles that govern Place of Supply, threshold limits, GST rates including the floor rates with bands, special rates for raising additional resources during natural calamities/disasters, special provisions for certain States, etc.<br/><br/>
                                            The Union Cabinet under the Chairmanship of Prime Minister Shri Narendra Modi approved setting up of GST Council on 12th September, 2016 and also setting up its Secretariat as per the following details:
                                        </p><br/><br/>
                                        <div class="list-post">
                                            <h4 class="title">Creation of the GST Council as per Article 279A of the amended Constitution;</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">Creation of the GST Council Secretariat, with its office at New Delhi;</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">Appointment of the Secretary (Revenue) as the Ex-officio Secretary to the GST Council;</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">Inclusion of the Chairperson, Central Board of Excise and Customs (CBEC), as a permanent invitee (non-voting) to all proceedings of the GST Council;</h4>
                                        </div>
                                        <div class="list-post">
                                            <h4 class="title">Create one post of Additional Secretary to the GST Council in the GST Council Secretariat (at the level of Additional Secretary to the Government of India), and four posts of Commissioner in the GST Council Secretariat (at the level of Joint Secretary to the Government of India). </h4>
                                        </div>
                                        <p>
                                            The Cabinet also decided to provide for adequate funds for meeting the recurring and non-recurring expenses of the GST Council Secretariat, the entire cost for which shall be borne by the Central Government. The GST Council Secretariat shall be manned by officers taken on deputation from both the Central and State Governments.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div><!-- /.container -->   
        </section>

        <!-- NEED HELP START -->
        <section class="flat-row">
            <div class="flat-help">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="services-control">
                                <div class="icon-top">
                                    <img src="images/2.png" alt="image">
                                </div>
                                <div class="title-section">
                                    <h4 class="title">Need Help?</h4>
                                </div>
                                <div class="post-services">
                                    <p>Contact our customer support team if you have any further questions. We are heare to help you out</p>
                                </div>
                            </div>

                            <div class="contact-help">
                                <div class="item phone-help">
                                    <p>+91-9446 5000 44</p>
                                </div>
                                <div class="item email-help">
                                    <p>info@accountsandtax.in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- NEED HELP END -->
           
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <img src="images/logo-footer.png" alt="image">
                            <div class="im-map">
                                <h5 class="title">We have over 15 years of experience</h5>
                                <p>Our suppoer available to help you 24 hours a day, seven days week</p>
                                <div class="map">
                                    <a href="#"><i class="fa fa-map-marker"></i> Go to Google Maps</a>
                                </div>
                            </div>
                        </div><!-- footer-logo -->
                    </div><!-- col-md-4 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Quick Links</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="index.html#offer"> What We Offer</a></li>
                                <li class="twitch"><a href="index.html#choos"> Why Choose Us</a></li>
                                <li class="google"><a href="index.html#call"> Request Call Back</a></li>
                                <li class="linkedIn"><a href="index.html#testimonial"> What Our Clients Say</a></li>
                                <li class="youtube"><a href="index.html#blog"> Latest News</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Our Services</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="about.html"> About Us</a></li>
                                <li class="twitch"><a href="services.html"> Our Services</a></li>
                                <li class="google"><a href="blog.html"> Our Service News</a></li>
                                <li class="linkedIn"><a href="#"> Get An Appointment</a></li>
                                <li class="youtube"><a href="contact.html"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-2">
                        <div class="widget widget-follow-us">
                            <div class="title-link v3">
                                <h5 class="widget-title">Follow Us</h5>
                            </div>
                            <ul class="follow-us">
                                <li class="facebook"><a href="#"> Facebook</a></li>
                                <li class="twiter"><a href="#"> Twiiter</a></li>
                                <li class="google"><a href="#"> Google Plus </a></li>
                                <li class="linkedIn"><a href="#"> LinkedIn</a></li>
                                <li class="youtube"><a href="#"> Youtube</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-2 -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer -->

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-bottom">
                            <div class="copyright"> 
                                <p>Coyright © 2017 Psybo Technologies. All rights reserved.</p>
                            </div>    
                        </div><!-- /.container-bottom -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- Bottom -->

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>   
        
       <!-- Javascript -->
        <script type="text/javascript" src="javascript/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/bootstrap.min.js"></script> 
        <script type="text/javascript" src="javascript/jquery.easing.js"></script> 
        <script type="text/javascript" src="javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="javascript/imagesloaded.min.js"></script>    
        <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>    
        <script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>   
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script>  
        <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>    
        <script type="text/javascript" src="javascript/parallax.js"></script>
         
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script> 
        <script type="text/javascript" src="javascript/smoothscroll.js"></script>
        <script type="text/javascript" src="javascript/jquery.fancybox.js"></script>   
        <script type="text/javascript" src="javascript/main.js"></script>
    </div> <!-- /.boxed -->
</body>
</html>