<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>GST Invoice | Accounts & TaxAlliance</title>

    <meta name="author" content="psybotechnologies.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Favicon and touch icons  -->
    <link href="images/icon/favicon.png" rel="shortcut icon">

</head>  

<body class="header-sticky">

    <div class="boxed">
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>
    
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="flat-information">
                                <li class="phone">
                                    <a href="#" title="Phone number"><i>Call us: (+91) 9446 5000 44</i></a>
                                </li>
                                <li class="email">
                                    <a href="#" title="Email address"><i>Email: info@accountsandtax.in</i></a>
                                </li>
                            </ul>
                            <div class="style-box text-right">
                                <ul class="flat-socials v1">
                                    <li class="facebook">
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="wifi">
                                        <a href="#"><i class="fa fa-wifi"></i></a>
                                    </li>
                                </ul>
                                <div class="question">
                                    <div>
                                        <i class="fa fa-question-circle-o"></i><p class="text">Have any questions</p>
                                    </div>
                                </div>
                                <div class="box-text text-right">
                                    <p>Get An Appointment</p>
                                </div>   
                            </div>
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- Top -->    
        </div><!-- header-inner-pages -->

        <!-- Wrap-slide -->
        <div class="wrap-slider">
            <!-- Header -->            
            <header id="header" class="header style-color clearfix">
                <div class="container">
                    <div class="header-wrap clearfix">
                        <div id="logo" class="logo">
                            <a href="index.html" rel="home">
                                <img src="images/logo.png" alt="image">
                            </a>
                        </div><!-- /.logo -->

                        <div class="nav-wrap">
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->

                            <nav id="mainnav" class="mainnav">
                                <ul class="menu"> 
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li> 
                                    <li><a href="services.html">Our Services</a></li>
                                    <li class="home"><a href="gst.html">GST</a>
                                        <ul class="submenu">
                                            <li><a href="whatisgst.html">What is GST</a></li>
                                            <li><a href="filing.html">GST Filing</a></li>
                                            <li><a href="gstAccounting.html">GST Accounting</a>
                                                <ul class="submenu">
                                                    <li><a href="gstAccounting.html#tally">In Tally ERP</a></li>
                                                    <li><a href="gstAccounting.html#mallu">In Malayalam</a></li>
                                                    <li><a href="gstAccounting.html#council">GST Council</a></li>
                                                </ul><!-- /.submenu -->
                                            </li>
                                            <li><a href="invoice.html">GST Invoice</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="#">Income Tax</a>
                                        <ul class="submenu">
                                            <li><a href="returns.html">IT Returns</a></li>
                                            <li><a href="tds.html">TDS</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="blog.html">News</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.nav-wrap -->
                    </div><!-- /.header-wrap --> 
                </div>
            </header><!-- /.header -->
        </div> <!-- /.wrap-slider -->

        <!-- GST START -->
        <section class="main-content blog bg-sidebar sidebar-left padding-bot0">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="post-wrap blog-v2 clearfix">
                            <article class="entry clearfix">
                                <div class="content-post">
                                    <div class="entry-post">
                                        <div class="thumb">
		                                    <img src="images/q-1.jpg" alt="image">
		                                </div><br/><br/>
		                                <div class="thumb">
		                                    <img src="images/q-2.jpg" alt="image">
		                                </div>
                                    </div>
                                </div>
                            </article><!-- /entry -->
                        </div><!-- /post-wrap -->
                    </div><!-- /col-md-9 -->

                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="widget widget-categories">
                                <div class="title-link">
                                    <h5 class="widget-title">GST More</h5>
                                </div>
                                <div class="widget widget-categories team">
                                    <ul class="categories">
                                        <li><a href="gst.html">GST</a></li>
                                        <li><a href="whatisgst.html">What is GST</a></li>
                                        <li><a href="filing.html">GST Filing</a></li>
                                        <li><a href="gstAccounting.html">GST Accounting</a></li>
                                        <li><a href="invoice.html">GST Invoice</a></li>
                                    </ul>
                                </div><!-- /widget-archives -->
                            </div><!-- /widget-archives -->
                            <div class="widget widget-categories">
                                <div class="title-link">
                                    <h5 class="widget-title">IT More</h5>
                                </div>
                                <div class="widget widget-categories team">
                                    <ul class="categories">
                                        <li><a href="returns.html">IT Returns</a></li>
                                        <li><a href="tds.html">TDS</a></li>
                                    </ul>
                                </div><!-- /widget-archives -->
                            </div><!-- /widget-archives -->
                        </div><!-- /sidebar -->
                    </div><!-- /col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->   
        </section>
        <!-- GST END -->

        <!-- NEED HELP START -->
        <section class="flat-row padding-70">
            <div class="flat-help">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="services-control">
                                <div class="icon-top">
                                    <img src="images/2.png" alt="image">
                                </div>
                                <div class="title-section">
                                    <h4 class="title">Need Help?</h4>
                                </div>
                                <div class="post-services">
                                    <p>Contact our customer support team if you have any further questions. We are heare to help you out</p>
                                </div>
                            </div>

                            <div class="contact-help">
                                <div class="item phone-help">
                                    <p>+91-9446 5000 44</p>
                                </div>
                                <div class="item email-help">
                                    <p>info@accountsandtax.in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- NEED HELP END -->
           
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <img src="images/logo-footer.png" alt="image">
                            <div class="im-map">
                                <h5 class="title">We have over 15 years of experience</h5>
                                <p>Our suppoer available to help you 24 hours a day, seven days week</p>
                                <div class="map">
                                    <a href="#"><i class="fa fa-map-marker"></i> Go to Google Maps</a>
                                </div>
                            </div>
                        </div><!-- footer-logo -->
                    </div><!-- col-md-4 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Quick Links</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="index.html#offer"> What We Offer</a></li>
                                <li class="twitch"><a href="index.html#choos"> Why Choose Us</a></li>
                                <li class="google"><a href="index.html#call"> Request Call Back</a></li>
                                <li class="linkedIn"><a href="index.html#testimonial"> What Our Clients Say</a></li>
                                <li class="youtube"><a href="index.html#blog"> Latest News</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Our Services</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="about.html"> About Us</a></li>
                                <li class="twitch"><a href="services.html"> Our Services</a></li>
                                <li class="google"><a href="blog.html"> Our Service News</a></li>
                                <li class="linkedIn"><a href="#"> Get An Appointment</a></li>
                                <li class="youtube"><a href="contact.html"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-2">
                        <div class="widget widget-follow-us">
                            <div class="title-link v3">
                                <h5 class="widget-title">Follow Us</h5>
                            </div>
                            <ul class="follow-us">
                                <li class="facebook"><a href="#"> Facebook</a></li>
                                <li class="twiter"><a href="#"> Twiiter</a></li>
                                <li class="google"><a href="#"> Google Plus </a></li>
                                <li class="linkedIn"><a href="#"> LinkedIn</a></li>
                                <li class="youtube"><a href="#"> Youtube</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-2 -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer -->

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-bottom">
                            <div class="copyright"> 
                                <p>Coyright © 2017 Psybo Technologies. All rights reserved.</p>
                            </div>    
                        </div><!-- /.container-bottom -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- Bottom -->

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>   
        
       <!-- Javascript -->
        <script type="text/javascript" src="javascript/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/bootstrap.min.js"></script> 
        <script type="text/javascript" src="javascript/jquery.easing.js"></script> 
        <script type="text/javascript" src="javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="javascript/imagesloaded.min.js"></script>    
        <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>    
        <script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>   
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script>  
        <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>    
        <script type="text/javascript" src="javascript/parallax.js"></script>
         
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script> 
        <script type="text/javascript" src="javascript/smoothscroll.js"></script>
        <script type="text/javascript" src="javascript/jquery.fancybox.js"></script>   
        <script type="text/javascript" src="javascript/main.js"></script>
    </div> <!-- /.boxed -->
</body>
</html>