<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Services | Accounts & TaxAlliance</title>

    <meta name="author" content="psybotechnologies.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" >
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <!-- Favicon and touch icons  -->
    <link href="images/icon/favicon.png" rel="shortcut icon">

</head>  

<body class="header-sticky">

    <div class="boxed">
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>
    
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="flat-information">
                                <li class="phone">
                                    <a href="#" title="Phone number"><i>Call us: 290 986 1386</i></a>
                                </li>
                                <li class="email">
                                    <a href="#" title="Email address"><i>Email: support24-7@gmail.com</i></a>
                                </li>
                            </ul>
                            <div class="style-box text-right">
                                <ul class="flat-socials v1">
                                    <li class="facebook">
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="wifi">
                                        <a href="#"><i class="fa fa-wifi"></i></a>
                                    </li>
                                </ul>
                                <div class="question">
                                    <div>
                                        <i class="fa fa-question-circle-o"></i><p class="text">Have any questions</p>
                                    </div>
                                </div>
                                <div class="box-text text-right">
                                    <p>Get An Appointment</p>
                                </div>   
                            </div>
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- Top -->    
        </div><!-- header-inner-pages -->

        <!-- Wrap-slide -->
        <div class="wrap-slider">
            <!-- Header -->            
            <header id="header" class="header style-color clearfix">
                <div class="container">
                    <div class="header-wrap clearfix">
                        <div id="logo" class="logo">
                            <a href="index.html" rel="home">
                                <img src="images/logo.png" alt="image">
                            </a>
                        </div><!-- /.logo -->

                        <div class="nav-wrap">
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->

                            <nav id="mainnav" class="mainnav">
                                <ul class="menu"> 
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li> 
                                    <li class="home"><a href="services.html">Our Services</a></li>
                                    <li><a href="gst.html">GST</a>
                                        <ul class="submenu">
                                            <li><a href="whatisgst.html">What is GST</a></li>
                                            <li><a href="filing.html">GST Filing</a></li>
                                            <li><a href="gstAccounting.html">GST Accounting</a>
                                                <ul class="submenu">
                                                    <li><a href="gstAccounting.html#tally">In Tally ERP</a></li>
                                                    <li><a href="gstAccounting.html#mallu">In Malayalam</a></li>
                                                    <li><a href="gstAccounting.html#council">GST Council</a></li>
                                                </ul><!-- /.submenu -->
                                            </li>
                                            <li><a href="invoice.html">GST Invoice</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="#">Income Tax</a>
                                        <ul class="submenu">
                                            <li><a href="returns.html">IT Returns</a></li>
                                            <li><a href="tds.html">TDS</a></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="blog.html">News</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.nav-wrap -->
                    </div><!-- /.header-wrap --> 
                </div>
            </header><!-- /.header -->
        </div> <!-- /.wrap-slider -->
        
        <!-- Blog posts -->
        <section class="main-content padding-small">
            <div class="container">
                <div class="flat-services">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section style2">
                                <h3 class="title">What We Can Offer You</h3>
                                <p>We are professionals in accounting, GST Accounting & Filing, Income Tax consulting,<br /> internal auditing and finance management.</p>
                            </div>

                            <div class="services-post">
                                <div class="item">
                                    <div class="thumb-item">
                                        <img src="images/bg/s1.jpg" alt="image">
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="post">
                                        <h4 class="title"><a href="#">ACCOUNTING & TAXATION</a></h4>
                                        <p>In-house Accounting & GST services, Income Tax returns, Online Filing (TDS and GST), PF & ESI consulting...etc</p>
                                        <a href="#" class="comment-reply">Read More<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumb-item">
                                        <img src="images/bg/s2.jpg" alt="image">
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="post">
                                        <h4 class="title"><a href="#">FORMATION SERVICES</a></h4>
                                        <p>Business Start-up Services, Partnership registration, Company formation services, LLP formation services...etc</p>
                                        <a href="#" class="comment-reply">Read More<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumb-item">
                                        <img src="images/bg/s3.jpg" alt="image">
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="post">
                                        <h4 class="title"><a href="#">REGISTRATION SERVICES</a></h4>
                                        <p>Digital Signature, PAN card registration, Import Export License, Trademark & ISO certification, Digital Signature...etc</p>
                                        <a href="#" class="comment-reply">Read More<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumb-item">
                                        <img src="images/bg/s4.jpg" alt="image">
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="post">
                                        <h4 class="title"><a href="#">AUXILARY SERVICES</a></h4>
                                        <p>Project report for bank loan, NRI consultancy, Online Promotion, Company address at Cochin...etc</p>
                                        <a href="#" class="comment-reply">Read More<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="thumb-item">
                                        <img src="images/bg/s5.jpg" alt="image">
                                        <div class="overlay"></div>
                                    </div>
                                    <div class="post">
                                        <h4 class="title"><a href="#">TRAINING & PLACEMENT SERVICES</a></h4>
                                        <p>Industry oriented Training in Accounts and GST, Training to Accountant, Practical Training for fresher...etc</p>
                                        <a href="#" class="comment-reply">Read More<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="flat-services-control">
                            <div class="col-md-10">
                                <div class="content-services">
                                    <div class="post v4">
                                        <div class="box">
                                            <h4 class="title">More Services From Accounts & Tax Alliance</h4>
                                            <p class="title-top">Our clients tell us we are unique for a variety of <br> important reasons including:</p>
                                            <div class="list">
                                                <p><span>ACCOUNTS OUTSOURCING</span></p>
                                                <p><span>ACCOUNTS STAFFING</span></p>
                                                <p><span>INTERNAL AUDITING</span></p>
                                                <p><span>GST & INCOME TAX CONSULTING</span></p>
                                                <p><span>RECONSTRUCTION OF ACCOUNTING</span></p>
                                                <p><span>SYSTEM IMPLEMENTATION IN ACCOUNTING</span></p>
                                                <p><span>STEP-WISE INVENTORY MANAGEMENT</span></p>
                                                <p><span>SETTLEMENT OF PARTNERS</span></p>
                                                <p><span>MEETING REPORT PREPARATION</span></p>
                                                <p><span>MANUAL WORKS TO COMUTERISED ACCOUNTING</span></p>
                                                <p><span>STATUTORY COMPLIANCE</span></p>
                                                <p><span>AND MORE IN ACCOUNTS</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->   
        </section>

        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <img src="images/logo-footer.png" alt="image">
                            <div class="im-map">
                                <h5 class="title">We have over 15 years of experience</h5>
                                <p>Our suppoer available to help you 24 hours a day, seven days week</p>
                                <div class="map">
                                    <a href="#"><i class="fa fa-map-marker"></i> Go to Google Maps</a>
                                </div>
                            </div>
                        </div><!-- footer-logo -->
                    </div><!-- col-md-4 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Quick Links</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="index.html#offer"> What We Offer</a></li>
                                <li class="twitch"><a href="index.html#choos"> Why Choose Us</a></li>
                                <li class="google"><a href="index.html#call"> Request Call Back</a></li>
                                <li class="linkedIn"><a href="index.html#testimonial"> What Our Clients Say</a></li>
                                <li class="youtube"><a href="index.html#blog"> Latest News</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-3">
                        <div class="widget widget-our-services">
                            <div class="title-link v4">
                                <h5 class="widget-title">Our Services</h5>
                            </div>
                            <ul class="our_services">
                                <li class="facebook"><a href="about.html"> About Us</a></li>
                                <li class="twitch"><a href="services.html"> Our Services</a></li>
                                <li class="google"><a href="blog.html"> Our Service News</a></li>
                                <li class="linkedIn"><a href="#"> Get An Appointment</a></li>
                                <li class="youtube"><a href="contact.html"> Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-2">
                        <div class="widget widget-follow-us">
                            <div class="title-link v3">
                                <h5 class="widget-title">Follow Us</h5>
                            </div>
                            <ul class="follow-us">
                                <li class="facebook"><a href="#"> Facebook</a></li>
                                <li class="twiter"><a href="#"> Twiiter</a></li>
                                <li class="google"><a href="#"> Google Plus </a></li>
                                <li class="linkedIn"><a href="#"> LinkedIn</a></li>
                                <li class="youtube"><a href="#"> Youtube</a></li>
                            </ul>
                        </div>
                    </div><!-- col-md-2 -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer -->

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-bottom">
                            <div class="copyright"> 
                                <p>Coyright © 2017 Psybo Technologies. All rights reserved.</p>
                            </div>    
                        </div><!-- /.container-bottom -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- Bottom -->
        
        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>  
        
        <!-- Javascript -->
        <script type="text/javascript" src="javascript/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/bootstrap.min.js"></script> 
        <script type="text/javascript" src="javascript/jquery.easing.js"></script>     
        <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="javascript/imagesloaded.min.js"></script>    
        <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>    
        <script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>   
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script>    
        <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>    
        <script type="text/javascript" src="javascript/parallax.js"></script>   
        <script type="text/javascript" src="javascript/owl.carousel.js"></script>
        
        <script type="text/javascript" src="javascript/jquery.cookie.js"></script>    
        <script type="text/javascript" src="javascript/main.js"></script>
        <script type="text/javascript" src="javascript/smoothscroll.js"></script>
        
    </div><!-- /.boxed -->
</body>
</html>